.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: dotted black 1px;
}

.navItem {
    display: flex;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0 10px 0 10px;
    font-size: 12px;
}

.navItem:hover,
.navItem:active {
    opacity: 50%;
}