:root {
    --main-bg-color: white;
    --main-text-color: black;
    --outer-space: 1.5em;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Hiragino Sans", "ヒラギノ角ゴ", sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

html[data-theme='light'] {
    --main-bg-color: white;
    --main-text-color: black;
}

html[data-theme='dark'] {
    --main-bg-color: black;
    --main-text-color: white;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1em;
}

img {
    max-width: 100%;
    display: block;
}