.container {
    padding: 3.5em var(--outer-space) 1em;
}

.backToHome {
    margin: 3rem 0 0;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

.toggleModeButton {
    background-color: var(--main-bg-color);
    padding: 1em;
    border: solid 2px green;
    cursor: pointer;
    color: var(--main-text-color);
    margin: 1em;
}