.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.headingSm {
    font-size: 1rem;
    line-height: 1.15;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    margin: 0;
}

.postTitle {
    font-size: 1.2rem;
    color: green;
}

.postTitle:hover {
    background-color: green;
    color: white;
}

.lightText {
    color: #666;
}

.link {
    text-decoration: none;
    font-size: 12px;
}

.staticLogo {
    position: absolute;
}

.staticLogo:hover {
    opacity: 0;
}